{
    "extends": "fortech-react",
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "react/prop-types": 0,
        "linebreak-style": 0,
        "quotes": [2, "single", { "avoidEscape": true }]
    }
}
