.search-container{
    background:white;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid gray;
    position: relative;
}

.search-container:hover > .search-txt{
    width: 200px;
}

.search-btn{
    float: right;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background:#ABB2B9 ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1px;
    right: 1px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 3px;
    font-size: 16px;
    transition: ease-in 0.4s;
    width: 110px;
}